

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection"content="telephone=no, email=no" />
  <link rel="shortcut icon" href="//m.kaola.com/favicon.ico?v=2" />
  <link href="//haitao.nos.netease.com/a8ad1a0820654640bc015b43f423f507.png" rel="apple-touch-icon-precomposed" />

  <link rel="dns-prefetch" href="//m.kaola.com">
  <link rel="dns-prefetch" href="//w.kl.126.net">
  <link rel="dns-prefetch" href="//haitao.nos.netease.com">
  <link rel="dns-prefetch" href="//haitao.nosdn1.127.net">
  <link rel="dns-prefetch" href="//haitao.nosdn2.127.net">
  <link rel="dns-prefetch" href="//haitao.nosdn3.127.net">
  <link rel="dns-prefetch" href="//haitao.nosdn4.127.net">
  <link rel="dns-prefetch" href="//haitao.nosdn5.127.net">

<script type="text/javascript">
(function(win){var remCalc={};var docEl=win.document.documentElement,tid;function refreshRem(){var width=docEl.getBoundingClientRect().width;if(width>800){width=800}var rem=width/10;docEl.style.fontSize=rem+"px";remCalc.rem=rem;var actualSize=parseFloat(window.getComputedStyle(document.documentElement)["font-size"]);if(actualSize!==rem&&actualSize>0&&Math.abs(actualSize-rem)>1){var remScaled=rem*rem/actualSize;docEl.style.fontSize=remScaled+"px"}}function dbcRefresh(){clearTimeout(tid);tid=setTimeout(refreshRem,100)}win.addEventListener("resize",function(){dbcRefresh()},false);win.addEventListener("pageshow",function(e){if(e.persisted){dbcRefresh()}},false);refreshRem();remCalc.refreshRem=refreshRem;remCalc.rem2px=function(d){var val=parseFloat(d)*this.rem;if(typeof d==="string"&&d.match(/rem$/)){val+="px"}return val};remCalc.px2rem=function(d){var val=parseFloat(d)/this.rem;if(typeof d==="string"&&d.match(/px$/)){val+="rem"}return val};win.remCalc=remCalc})(window);
(function(win,doc){var type=navigator.userAgent.match(/(iPhone|iPod|iPad)/i)?"ios":"aos";win.deviceType=type})(window,document);
</script>

  <script>
  	window.NRUM = window.NRUM || {};
  	window.NRUM.config = {
  	    key: 'b57123685140403d8e1b8ef0d6f3db7c',
  	    clientStart: +new Date()
  	};
  	(function() {
  	    var n = document.getElementsByTagName('script')[0],
  	        s = document.createElement('script');
  	    s.async = 'async';
  	    s.src = '//apmsdk.nosdn.127.net/napm-web-min-1.1.3.js';
  	    n.parentNode.insertBefore(s, n);
  	})();
  </script>

	<title>网易考拉海购-500错误页面</title>
    <style>
        .g-bd{padding:50px 0;background:#fff;text-align:center;}
    </style>
</head>
<body id="index-netease-com">
<div class="g-bd">
    <article class="m-failbox">
        <img src="//haitao.nos.netease.com/04eb21ac-58ce-4515-84cc-9bc24873a2f0.png" alt="500-系统错误" title="500-系统错误" width="160px"/>
    </article>
</div>
</body>
</html>
